#div-container {
    width: 99%;
    height: 95%;
    border: solid 1px black;
    padding: 5px;
    display: block;
}

#div-header {
    border: solid 1px #4f69fa;    
    padding: 5px;
}



#div-nav {
    /*border: solid 1px #ffa700;*/
    background-color: #EEE;
    border-top: solid 1px #d5d5d5;
    padding: 3px;
    font-size: 0.8em;
    color: #969696;
}

#div-content {
    /*border: solid 1px red;*/
    display: table;
    min-height: 400px;
}

#div-content ul {
    margin: 0;
    padding: 0;
    list-style-position: inside;
}

#div-footer {
    border: solid 1px rgba(199, 31, 31, 0.94);
    padding: 5px;
    margin-top: 10px;
    clear: both;    
}

/*--------------------------------------------------------------*/

.div-sidebar {
    float: left;
    display: block;
    background-color: #DDD;
    padding: 0 15px 0 5px;
}

.div-integrator-detail {
    display: block;
    float: left;
    padding: 0 20px 10px 20px;
    border: solid 1px #ffb206;
    margin-left: 15px;
}

.div-integrator-detail table, th, td {
    border-collapse: collapse;
    border: solid 1px #8ba1fd;
    padding: 2px;
}



/* ---------
 * Main Menu
 * ---------
 */

