<md-toolbar class="md-medium-tall">
    <div class="md-toolbar-tools">
        <h3>
            <span>{{ detailSubtitle }}</span>
        </h3>
        <span flex></span>
        <div>
            <i class="material-icons" style="cursor: pointer;" ng-click="refreshDetail(selected.id)">undo</i>
            <i class="material-icons" style="cursor: pointer;" ng-click="edit()">edit</i>
            <i class="material-icons" style="cursor: pointer;" ng-click="save()">save</i>
        </div>
    </div>
</md-toolbar>
<md-content layout="column"  class="md-padding">
    <form name="form" novalidate class="md-padding"  ng-class="{ formEditMode : !readOnly }" layout="column">
        <h3>Dados cadastrais</h3>
        <div layout="row">
            <md-input-container>
                <label>id:</label>
                <input type="text" name="id" ng-model="editIntegrator.id" readonly />
            </md-input-container>
            <md-input-container flex>
                <label>Nome:</label>
                <input type="text" name="name" ng-model="editIntegrator.name" required ng-readonly="readOnly"/>
                <div ng-messages="form.name.$error">                     
                    <div ng-message="required">Campo obrigatório.</div>
                </div>
            </md-input-container>
        </div>
        <md-input-container>
            <label>Descri&ccedil;&atilde;o:</label>
            <textarea name="description" ng-model="editIntegrator.description" ng-readonly="readOnly"></textarea>
        </md-input-container>
        <h3>Contatos</h3>
        <div>
            <div ui-grid="{ data: editIntegrator.contacts }" class="integratorsContactsGrid"></div>
        </div>
        
    </form>
</md-content>

<md-content layout="column">
    <table>
        <tbody>
            <tr>
                <td><b>id:&nbsp;</b></td>
                <td>{{ selected.id }}</td>
            </tr>
            <tr>
                <td><b>Nome:&nbsp;</b></td>
                <td>{{ selected.name }}</td>
            </tr>
            <tr>
                <td><b>Descri&ccedil;&atilde;o:&nbsp;</b></td>
                <td>{{ selected.description }}</td>
            </tr>
        </tbody>
    </table>

    <h3>Contatos</h3>
    <td>
        <table>
            <thead>
                <th>Nome</th>
                <th>Email</th>
            </thead>
            <tbody>
                <tr ng-repeat="contact in selected.contacts">
                    <td>{{ contact.name }}</td>
                    <td>{{ contact.email }}</td>
                </tr>
            </tbody>
        </table>
    </td>
</md-content>


